* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: grid;
  grid-template-areas:
    "aside hero hero hero"
    "aside hero hero hero"
    "aside content content sidebar"
    "aside content content sidebar"
    "aside content content sidebar"
    "aside content content sidebar"
    "footer footer footer footer";
  grid-template-rows: auto;
  grid-template-columns: 10% 1fr 2fr 1fr;
  grid-column-gap: 0;
}

body {
  background-color: #292731;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.hero h1 {
  color: white;
  text-align: center;
}

.hero {
  grid-row-start: hero;
  grid-row-end: hero;
  grid-column-start: hero;
  grid-column-end: hero;
  grid-column-gap: 0;
  position: relative;
  /*background: url() no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 30px;
  letter-spacing: 2px;
}
.hero h1 {
  text-align: center;
  font-size: 3rem;
  font-family: "Lato", sans-serif;
  color: white;
  z-index: 1;
  font-size: xx-large;
  margin-bottom: 15px;
}
.video_container {
  display: flex;
  justify-content: center;
}
.arrow {
  cursor: pointer;
  color: white;
  font-size: 2rem;
  margin: 1.5%;
  align-self: center;
}
.video {
  width: 70vw;
}
.content {
  grid-row: content;
  grid-column: content;
  margin-left: 0.8rem;
}

.sidebar {
  grid-row: sidebar;
  grid-column: sidebar;
  justify-self: stretch;
  margin-left: 0.8rem;
}

.aside {
  grid-row-start: aside;
  grid-row-end: aside;
  grid-column-start: aside;
  grid-column-end: aside;
  background-color: #613fa6;
  font-size: 0.9rem;
  color: #ffffff;
}

.paragraphApp {
  color: white;
  font-size: large;
  text-align: center;
}

@media (max-width: 1090px) {
  .App {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 15% 1fr 1fr;
  }
  .sidebar .Contact .name,
  .Contact .status .status-text {
    display: none;
  }
}

@media (max-width: 390px) {
  .sidebar {
    display: none;
  }
  .App {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 20% 1fr;
  }
}
